@import url('boxicons.min.css');
@import url('blocks/button.css');
@import url('blocks/touchpad.css');
@import url('blocks/keyboard.css');
@import url('blocks/status.css');
@import url('blocks/taskbar.css');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --button-icon-size: 8vw;
  --button-text-size: 2.7vw;
  --button-text-padding: 0.8vw;
  --button-border-width: 2px;
  --button-border-color: rgba(255, 255, 255, 0.05);
  --button-radius: 2vmin;
  --button-color: rgba(255, 255, 255, 0.4);
  --button-background: rgba(255, 255, 255, 0.12);
  --button-active-background: rgba(255, 255, 255, 0.2);

  --touchpad-button-size: 16vw;
  --touchpad-button-icon-size: 2vw;
}

body {
  margin: 0;
  overflow-y: auto;
  background: #000;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  background-size: cover !important;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

#spacer {
  flex: 1 1 auto;
}

#container {
  display: flex;
}

#grid {
  overflow: visible;
  width: 100vw;
  position: relative;
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  padding: 28px 14px;
  align-content: center;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

/* media query for vertical screens */
@media (orientation: portrait) {
  #grid > *:not([data-vertical]) {
    display: none;
  }
  #grid {
    grid-template-areas: var(--design-vertical);
  }
}

/* media query for horizontal screens */
@media (orientation: landscape) {
  #grid > *:not([data-horizontal]) {
    display: none;
  }
  #grid {
    grid-template-areas: var(--design-horizontal);
  }
}

i {
  padding-top: calc(0.175 * var(--button-icon-size));
  padding-left: calc(0.05 * var(--button-icon-size));
}
