@import url('boxicons.min.css');
@import url('blocks/button.css');
@import url('blocks/touchpad.css');
@import url('blocks/keyboard.css');
@import url('blocks/status.css');
@import url('blocks/taskbar.css');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --greeting-color: #fff;
  --accent-color: #3eef67;

  --grid-row-gap: 3vw;
  --grid-column-gap: 3vw;
  --grid-padding-x: 3vw;
  --grid-padding-y: 6vw;

  --button-icon-size: 8vw;
  --button-text-size: 2.7vw;
  --button-text-padding: 0.8vw;
  --button-border-width: 2px;
  --button-border-color: rgba(255, 255, 255, 0.05);
  --button-radius: 2vmin;
  --button-color: rgba(255, 255, 255, 0.4);
  --button-background: rgba(255, 255, 255, 0.12);
  --button-active-background: rgba(255, 255, 255, 0.2);
  --button-padding-x: 0;
  --button-padding-y: 2.7vw;

  --touchpad-button-size: 16vw;
  --touchpad-button-icon-size: 2vw;

  --keyboard-offset-left: 0px;
  --keyboard-offset-top: 0px;
  --keyboard-scale: 1;
}

.highlight {
  color: var(--accent-color);
}

body {
  margin: 0;
  overflow-y: auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  background-color: #000;
  background-size: cover !important;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

#spacer {
  flex: 1 1 auto;
  color: var(--greeting-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 var(--grid-padding-x);
  font-size: 6vw;
}

#container {
  display: flex;
  transition: 0.2s transform ease-out;
  transform: translate(var(--keyboard-offset-left), var(--keyboard-offset-top))
    scale(var(--keyboard-scale));
}

#grid {
  overflow: visible;
  width: 100vw;
  position: relative;
  display: grid;
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
  padding: var(--grid-padding-y) var(--grid-padding-x);
  align-content: center;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

/* media query for vertical screens */
@media (orientation: portrait) {
  #grid > *:not([data-vertical]) {
    display: none;
  }
  #grid {
    grid-template-areas: var(--design-vertical);
  }
}

/* media query for horizontal screens */
@media (orientation: landscape) {
  #grid > *:not([data-horizontal]) {
    display: none;
  }
  #grid {
    grid-template-areas: var(--design-horizontal);
  }
}

i {
  padding-top: calc(0.175 * var(--button-icon-size));
  padding-left: calc(0.05 * var(--button-icon-size));
}
