button {
  width: 100%;
  height: 100%;
  grid-area: var(--name);
  touch-action: manipulation;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  font-size: var(--button-icon-size);
  border-radius: var(--button-radius);
  outline: none !important;
  cursor: pointer;
  transition: 0.2s background ease-in-out, 0.2s transform;
  text-rendering: optimizeLegibility;
  text-align: center;
  aspect-ratio: 1;
  overflow: hidden;
  box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color);
}

button:active {
  background: var(--button-active-background);
  transform: scale(1.05);
  transition: 0.001s background, 0.001s transform;
}

button span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: var(--button-text-size);
  line-height: var(--button-text-size);
  height: var(--button-text-size);
  padding: 0 var(--button-text-padding);
  font-weight: 600;
  color: var(--button-color);
  word-break: break-word;
  margin-bottom: calc(var(--button-text-size) * 0.7);
}
