.button {
  width: 100%;
  height: 100%;
  grid-area: var(--name);
  touch-action: manipulation;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  font-size: var(--button-icon-size);
  border-radius: var(--button-radius);
  outline: none !important;
  cursor: pointer;
  transition: 0.2s background ease-in-out, 0.2s transform;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  aspect-ratio: 4/3;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: var(--button-inline-padding);
  text-align: left;
  justify-content: center;
  position: relative;
  container-type: size;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0);
  transition: 0.2s background ease-in-out;
}

.button.active {
  transform: scale(var(--button-active-scale));
  transition: 0.001s transform;
}

.button.active::before {
  background: rgb(255, 255, 255, var(--button-active-brightness));
  transition: 0.001s background;
}

.button i {
  font-size: var(--button-icon-size);
  margin-bottom: var(--button-icon-padding);
}

.button span {
  display: block;
  width: 100%;
  font-family: var(--default-font-family), sans-serif;
  font-weight: var(--default-font-weight);
  font-size: var(--button-text-size);
  line-height: var(--button-text-size);
  height: var(--button-text-size);
  padding: 0 var(--button-text-padding);
  color: var(--button-color);
  word-break: break-word;
}
