.keyboard-backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + var(--keyboard-offset-left));
  height: calc(100% + var(--keyboard-offset-top));
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--default-font-family), sans-serif;
  font-weight: var(--default-font-weight);
  font-size: 6vmin;
  transition: 0.2s width ease-out;
  transition: 0.2s height ease-out;
  padding: 0 10vw;
}
