.block[data-name='status'] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block[data-name='status'] i {
  margin-top: var(--button-icon-padding);
}

.block[data-name='status'] .indicator,
.block[data-name='status'] .indicator:after {
  width: 32%;
  height: auto;
  border-radius: 50%;
  display: block;
  aspect-ratio: 1;
}

.block[data-name='status'] .indicator.pulsating:after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.8;
  -webkit-animation: pulse 4s ease-out infinite;
  animation: pulse 4s ease-out infinite;
}

.block[data-name='status'] .indicator.active,
.block[data-name='status'] .indicator.active:after {
  background-color: #3eef67;
}
.block[data-name='status'] .indicator.pending,
.block[data-name='status'] .indicator.pending:after {
  background-color: #ffe435;
}
.block[data-name='status'] .indicator.error,
.block[data-name='status'] .indicator.error:after {
  background-color: #eb4a41;
}

@keyframes pulse {
  22% {
    transform: scale(3);
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes -webkit-pulse {
  22% {
    -webkit-transform: scale(4);
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
