#taskbar {
  grid-area: var(--name);
  width: 100%;
  height: 16vmin;
  background-color: var(--button-background);
  color: var(--button-color);
  font-family: var(--default-font-family), sans-serif;
  font-weight: var(--default-font-weight);
  border: none;
  border-radius: var(--button-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 0 4vmin;
  font-size: 4vmin;
}

#taskbar::-ms-expand {
  display: none;
}

#taskbar option {
  background-color: #111;
  color: white;
}

#taskbar option:checked {
  background-color: #222;
  color: white;
}
