.block[data-name='touchpad'] {
  width: 100%;
  grid-area: var(--name);
  background: var(--touchpad-background);
  aspect-ratio: var(--touchpad-aspect-ratio);
  border-radius: var(--touchpad-radius);
}

.block[data-name='touchpad-left'],
.block[data-name='touchpad-right'] {
  height: var(--touchpad-button-size);
  justify-content: center;
  align-items: end;
  padding: 0;
}

.block[data-name='touchpad-left'] i,
.block[data-name='touchpad-right'] i {
  font-size: var(--touchpad-button-icon-size);
  padding: 0 var(--touchpad-button-icon-padding);
  color: var(--touchpad-button-icon-color);
  margin-bottom: 0;
}
